{% extends 'main/base.html' %}
{% load static %}

{% block contentTitle %}
Agregar Paciente
{% endblock contentTitle %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}

    <div class="container">
        <div class="patient-form ">
            <div class="row">
                <div class="form-field col-md-6">
                    <input type="text" id="name" class="input-text" type="text" name="name" placeholder="Name">
                </div>

                <div class="form-field col-md-6">
                    <input type="text" id="phone_num" class="input-text" type="text" name="phone_num"
                        placeholder="Phone no.">
                </div>

                <div class="form-field col-md-6">
                    <input type="text" id="patient_relative_contact" class="input-text" type="text" name="address"
                        placeholder="Address">
                </div>

                <div class="form-field col-md-6">
                    <select class="input-text" name="doctor" id="doctor">
                        {% for doctor in doctors %}
                        <option class="" value="{{doctor}}">{{doctor}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-field col-md-6">
                    <select class="input-text" name="enfermedad" id="enfermedad">
                        {% for enfermedad in enfermedads %}
                        <option class="" value="{{enfermedad}}">{{enfermedad}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-field col-md-6">
                    <select class="input-text" name="status" id="status">
                        <option class="bg-danger text-white" value="Grave">Grave</option>
                        <option class="bg-warning text-white" value="En recuperación">En recuperación</option>
                        <option class="bg-success text-white" value="Recuperado">Recuperado</option>
                        <option class="bg-secondary text-white" value="Fallecido">Fallecido</option>
                    </select>

                </div>

                <div class="form-field col-md-6">
                    <select class="input-text" name="bed_num" id="bed_num">
                        {% for bed in beds %}
                        <option value="{{bed}}">{{bed}}</option>
                        {% endfor %}
                    </select>   
                </div>


            </div>
        </div>
    </div>
    <button class="btn col-lg-4 btn-block mx-auto btn-info mb-4">Agregar Paciente</button>
</form>
{% endblock content %}