{% extends 'main/base.html' %}
{% load static %}
{% block contentTitle %}
Camas <i class="fa fa-bed"></i>
{% endblock contentTitle %}
{% block content %}
<div class="container">
   <div class="row">
    {% for bed in beds %}
    <div class="
                {% if bed.occupied == True %}
                bg-danger 
                {% elif bed.occupied == False %}
                bg-success
                {% endif %}
                grid-box my-2 mx-2 py-4 px-4 text-white">{{ bed }}
            </div>
    {% endfor %}
</div>
{% endblock content %}
