{% extends 'main/base.html' %}
{% load static %}

{% block contentTitle %}
Panel
{% endblock contentTitle %}

{% block content %}

<!-- Content Row -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <!-- Recover Card -->
        <div class="card text-white text-center bg-info bg-gradient">
            <div class="card-body">
                <i class="fas fa-heart fa-2x text-white-300"></i>
                <h5 class="card-title">Recuperados</h5>
                <p class="card-text">{{ recovered_count }}</p>
            </div>
        </div>
    </div>
    <!-- Admitted Card -->
    <div class="col">
        <div class="card text-white text-center bg-primary ">
            <div class="card-body">
                <i class="fas fa-stethoscope fa-2x text-white-300"></i>
                <h5 class="card-title">Asegurados</h5>
                <p class="card-text">{{ patient_count }}</p>
            </div>
        </div>
    </div>

    <!-- Deceased Card -->
    <div class="col">
        <div class="card text-white text-center bg-danger ">
            <div class="card-body">
                <i class="fas fa-book-dead fa-2x text-white-300"></i>
                <h5 class="card-title">Fallecidos</h5>
                <p class="card-text">{{ deceased_count }}</p>
            </div>
        </div>
    </div>

    <!-- Beds Card -->
    <div class="col">
        <div class="card text-white text-center bg-warning ">
            <div class="card-body">
                <i class="fas fa-bed fa-2x text-white-300"></i>
                <h5 class="card-title">Camas disponibles</h5>
                <p class="card-text">{{ beds_available }}</p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h3 class="font-weight-bold my-3">Beds availability</h3>
</div>
<div class="row">
    <!-- .bg-success.grid-box.my-2.mx-2  -->
    {% comment %} <div class="bg-success grid-box my-2 mx-2 py-3 px-3"> {% endcomment %}
        {% comment %} </div> {% endcomment %}

    {% for bed in beds %}
    <div class="
                
                
                {% if bed.occupied == True %}
                bg-danger 
                {% elif bed.occupied == False %}
                bg-success
                {% endif %}
                grid-box my-2 mx-2 py-3 px-3 text-white">{{ bed }}
                <i class="fas fa-bed fa-2x text-white-300"></i>
            </div>
    {% endfor %}
</div>
{% endblock content %}