{% extends 'main/base.html' %}
{% load static %}
{% block contentTitle %}
Lista de enfermedades <i class="fas fa-diagnoses"></i>
{% endblock contentTitle %}
{% block content %}
<div class="table-responsive mt-3">
    <table class="table table-hover">
        <thead>
            <th>
                <h3>Nombre</h3>
            </th>
            <th>
                <h3>Descripción</h3>
            </th>
            
        </thead>

        <tbody>
            {% for enfermedad in enfermedads %}
            <tr class="mx-auto">
                <td scope="row">
                    <h5>{{ enfermedad.name}}</h5>
                </td>
                <td scope="row">
                    <h5>{{ enfermedad.description}}</h5>
                </td>
                    
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
