{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <title>Login</title>
</head>

<body>
       
        <h1>Sistema integral de Salud <i class="fas fa-hospital"></i> </h1>
        <div class="container">
            <div class="login-form">
            <h3>Iniciar sesión</h3>
            <form action="" method="post">
                {% csrf_token %}
                <div class="username">
                    <div class="name row">
                        <i class="fas fa-user col-2"></i>
                        <input id="name" class="input-text col-9" type="text" name="username" placeholder="Nombre">
                    </div>
                </div>

                <div class="password">
                    <div class="pass row">
                        <i class="fas fa-key col-2"></i>
                        <input id="password" class="input-text col-9" type="password" name="password"
                            placeholder="Contraseña">
                    </div>
                </div>
                <button type="submit" class="submit-btn btn btn-block">Ingresar</button>
             </form>
         </div>
           
        </div>
</body>


</html>