body{
    background-image: linear-gradient(#74d3ff98 20%,#64bfffe6 50%);
    height: 100vh;
    
}
 h1{
     margin-top: 5%;
     text-align: center;
     color: rgba(0, 0, 0, 0.63);
 }
.container{
    position: center;
    width: 500px;
    height: 400px;
    padding: 5%;
    margin-top: 70px;
    background-color: rgba(7, 140, 248, 0.13);
    border-radius: 15%;text-align: center;
}

.login-form >h3{
    color:rgba(255, 255, 255, 0.623);
    font-weight:bolder;
}

.login-form .username, .login-form .password{
    /* position: relative; */
    margin: 32px 0;
}


.username > div, .password > div{
    margin: 0;
    margin-top: 0px;
    width: fit-content;
}

.login-form .input-text{
    /* width: 70%; */
    padding: 0 5px;
    box-sizing: border-box;

    font-size: 1em;
    font-weight: 400;
    
    border-width: 0 0 3px 0;
    border-color: #5543ca;
    background-color: transparent;
    transition: border-color 0.2s linear;
}

.login-form .input-text:focus{
    outline: none;
    border-bottom-color: #0084d1;
}


.login-form .submit-btn{
    width: 150px;
    padding: 8px 16px;
    margin: 40px auto 0;
    
    letter-spacing: 2px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    background-color: rgb(38, 136, 228);
}

.login-form .submit-btn:hover{
    background-color: rgb(32, 80, 201);
}